<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../public/stylesheets/dict.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
    />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="../public/javascripts/dict.js"></script>
    <title>Online Dictionary</title>
  </head>
  <body>
    <div class="wrapper">
      <header>WAP Online Dictionary</header>
      <div class="search">
        <input type="text" placeholder="Search a word" required />
        <span class="material-icons">close</span>
        <button id="lookup">Look up</button>
      </div>

      <p class="info-text">Type any word and press lookup to get definition.</p>
      <br />
      <div id="content" hidden></div>

      <div class="validator">
        <a
          href="http://validator.w3.org/nu/?doc=https://dictionary-wap.herokuapp.com/views/dict.html"
          target="_blank"
        >
          <img src="../public/images/w3c-html.png" alt="html validator"
        /></a>
        <br />
        <a
          href="https://jigsaw.w3.org/css-validator/validator?uri=https://dictionary-wap.herokuapp.com/views/dict.html"
          target="_blank"
        >
          <img src="../public/images/w3c-css.png" alt="css validator"
        /></a>
        <br />

        <a
          href="http://mumstudents.org/jshint/check.php?uri=https://dictionary-wap.herokuapp.com/views/dict.html"
          target="_blank"
        >
          <img src="../public/images/jscheck-small.png" alt="js validator"
        /></a>
      </div>
    </div>
  </body>
</html>
